<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrainsEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TrainsEditor.Properties.Settings>
            <setting name="StopsAndLinesFileName" serializeAs="String">
                <value>..\..\ZastavkyLinkyDopravci.xml</value>
            </setting>
            <setting name="SR70Stops" serializeAs="String">
                <value>..\..\SR70_2023.csv</value>
            </setting>
            <setting name="RepositoryFolder" serializeAs="String">
                <value>c:\temp\jrspoje\GVD2023+KADR</value>
            </setting>
            <setting name="TrackNetworkFile" serializeAs="String">
                <value>..\..\sit_vlak.csv</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>c:\temp\jrspoje\gtfs_vlaky</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>c:\temp\jrspoje\log</value>
            </setting>
			<setting name="RepresentativeTrips" serializeAs="String">
				<value>
					<ArrayOfTripDirectionSpec xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<TripDirectionSpec>
							<LineName>S33</LineName>
							<TrainNumber>8515</TrainNumber>
						</TripDirectionSpec>
						<TripDirectionSpec>
							<LineName>S33</LineName>
							<TrainNumber>8518</TrainNumber>
						</TripDirectionSpec>
						<TripDirectionSpec>
							<LineName>S9</LineName>
							<TrainNumber>2540</TrainNumber>
						</TripDirectionSpec>
						<TripDirectionSpec>
							<LineName>S9</LineName>
							<TrainNumber>2509</TrainNumber>
						</TripDirectionSpec>
						<TripDirectionSpec>
							<LineName>S2</LineName>
							<TrainNumber>5802</TrainNumber>
						</TripDirectionSpec>
						<TripDirectionSpec>
							<LineName>S2</LineName>
							<TrainNumber>5805</TrainNumber>
						</TripDirectionSpec>
					</ArrayOfTripDirectionSpec>
				</value>
			</setting>
        </TrainsEditor.Properties.Settings>
    </applicationSettings>
</configuration>